In [44]:
import numpy as np
import pandas as pd

In [45]:
data = pd.read_csv('../Datasets/processes2.csv')

In [46]:
data.head(5)

,Unnamed: 0,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage Unit,Mileage,Engine (CC)
0,0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,kmpl,23.40,1248
1,2,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,kmpl,23.00,1396
2,4,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,kmpl,20.14,1197
3,7,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,kmpl,23.59,1364
4,8,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,kmpl,20.00,1399

In [47]:
data.shape

(2095, 14)

In [48]:
data.isnull()

,Unnamed: 0,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage Unit,Mileage,Engine (CC)
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2090,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2091,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2092,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2093,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2094,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [49]:
data.isnull().sum()

Unnamed: 0            0
name                  0
year                  0
selling_price         0
km_driven             0
fuel                  0
seller_type           0
transmission          0
owner                 0
seats                 0
max_power (in bph)    0
Mileage Unit          0
Mileage               0
Engine (CC)           0
dtype: int64

In [50]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          2095 non-null   int64
 1   name                2095 non-null   object
 2   year                2095 non-null   int64
 3   selling_price       2095 non-null   int64
 4   km_driven           2095 non-null   int64
 5   fuel                2095 non-null   object
 6   seller_type         2095 non-null   object
 7   transmission        2095 non-null   object
 8   owner               2095 non-null   object
 9   seats               2095 non-null   int64
 10  max_power (in bph)  2095 non-null   float64
 11  Mileage Unit        2095 non-null   object
 12  Mileage             2095 non-null   float64
 13  Engine (CC)         2095 non-null   int64
dtypes: float64(2), int64(6), object(6)
memory usage: 229.3+ KB

In [51]:
# One hot encoding karanna ona
# Object values Numeric values walata harawa ganna

In [52]:
data.head(5)

,Unnamed: 0,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage Unit,Mileage,Engine (CC)
0,0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,kmpl,23.40,1248
1,2,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,kmpl,23.00,1396
2,4,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,kmpl,20.14,1197
3,7,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,kmpl,23.59,1364
4,8,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,kmpl,20.00,1399

In [53]:
data.drop('Mileage Unit', axis=1, inplace=True)

In [54]:
data.head(5)

,Unnamed: 0,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage,Engine (CC)
0,0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,23.40,1248
1,2,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,23.00,1396
2,4,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,20.14,1197
3,7,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,23.59,1364
4,8,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,20.00,1399

In [55]:
data.drop('Unnamed: 0', axis=1, inplace=True)

In [56]:
data.head(5)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,seats,max_power (in bph),Mileage,Engine (CC)
0,Maruti,2014,450000,145500,Diesel,Individual,Manual,First Owner,5,74.00,23.40,1248
1,Hyundai,2010,225000,127000,Diesel,Individual,Manual,First Owner,5,90.00,23.00,1396
2,Hyundai,2017,440000,45000,Petrol,Individual,Manual,First Owner,5,81.86,20.14,1197
3,Toyota,2011,350000,90000,Diesel,Individual,Manual,First Owner,5,67.10,23.59,1364
4,Ford,2013,200000,169000,Diesel,Individual,Manual,First Owner,5,68.10,20.00,1399

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2095 entries, 0 to 2094
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                2095 non-null   object
 1   year                2095 non-null   int64
 2   selling_price       2095 non-null   int64
 3   km_driven           2095 non-null   int64
 4   fuel                2095 non-null   object
 5   seller_type         2095 non-null   object
 6   transmission        2095 non-null   object
 7   owner               2095 non-null   object
 8   seats               2095 non-null   int64
 9   max_power (in bph)  2095 non-null   float64
 10  Mileage             2095 non-null   float64
 11  Engine (CC)         2095 non-null   int64
dtypes: float64(2), int64(5), object(5)
memory usage: 196.5+ KB

In [58]:
data['name'].value_counts()

name
Maruti        921
Hyundai       571
Ford          153
Tata          130
Volkswagen    111
Renault       110
Toyota         51
Mahindra       30
Chevrolet      11
Honda           7
Name: count, dtype: int64

In [59]:
#one Hot Encoding
data = pd.get_dummies(data)

In [60]:
data.head(2)

,year,selling_price,km_driven,seats,max_power (in bph),Mileage,Engine (CC),name_Chevrolet,name_Ford,name_Honda,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,450000,145500,5,74.0,23.4,1248,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1,2010,225000,127000,5,90.0,23.0,1396,False,False,False,...,False,True,False,False,True,True,False,False,False,False

In [61]:
data.shape

(2095, 31)

In [62]:
#data X and Y walata beda ganna ona
x = data.drop('selling_price', axis=1)
y = data['selling_price']

In [63]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (1.6.0)
Requirement already satisfied: numpy>=1.19.5 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\user\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)

In [64]:
x.head(2)

,year,km_driven,seats,max_power (in bph),Mileage,Engine (CC),name_Chevrolet,name_Ford,name_Honda,name_Hyundai,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,145500,5,74.0,23.4,1248,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1,2010,127000,5,90.0,23.0,1396,False,False,False,True,...,False,True,False,False,True,True,False,False,False,False

In [65]:
y.head(2)

0    450000
1    225000
Name: selling_price, dtype: int64

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [67]:
x_train.shape, x_test.shape

((1571, 30), (524, 30))

In [68]:
# Train krnna Algorithm ekak ganna ona

In [69]:
def model_acc(model):
    model.fit(x_train,y_train)
    acc = model.score(x_test, y_test)
    print(str(model) + '-->' + str(acc))

In [70]:
from sklearn.linear_model import LinearRegression
LR = LinearRegression()
model_acc(LR)

LinearRegression()-->0.7871666601687736

In [71]:
from sklearn.linear_model import Lasso
lasso = Lasso()
model_acc(lasso)

Lasso()-->0.7869381988177693

C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.185e+10, tolerance: 8.824e+09
  model = cd_fast.enet_coordinate_descent(

In [72]:
from sklearn.tree import DecisionTreeRegressor
Dt = DecisionTreeRegressor()
model_acc(Dt)

DecisionTreeRegressor()-->0.8383591327082291

In [73]:
from sklearn.ensemble import RandomForestRegressor
RF = RandomForestRegressor()
model_acc(RF)

RandomForestRegressor()-->0.8954896663061804

In [74]:
#Train karann RandomForestRegressor ek gamu

In [75]:
from sklearn.model_selection import GridSearchCV

parameters = {'n_estimators':[10,50,100],
              'criterion':['squared_error','abolute_error','poisson']}

grid_obj = GridSearchCV(estimator = RF , param_grid = parameters)

grid_fit = grid_obj.fit(x_train, y_train)

best_model = grid_fit.best_estimator_
best_model

C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py:528: FitFailedWarning:
15 fits failed out of a total of 45.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 866, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py", line 1382, in wrapper
    estimator._validate_params()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py", line 436, in _validate_params
    validate_parameter_constraints(
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        self._parameter_constraints,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        self.get_params(deep=False),
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        caller_name=self.__class__.__name__,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
    ...<2 lines>...
    )
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of RandomForestRegressor must be a str among {'absolute_error', 'squared_error', 'poisson', 'friedman_mse'}. Got 'abolute_error' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_search.py:1107: UserWarning: One or more of the test scores are non-finite: [0.87918091 0.89173355 0.8887935         nan        nan        nan
 0.88639119 0.89289363 0.89197355]
  warnings.warn(

RandomForestRegressor(criterion='poisson', n_estimators=50)

In [76]:
best_model.score(x_test, y_test)
# hypoparameter tune karata passe 88%k accuracy ekak enw

0.8927744210447288

In [77]:
# Model eka save kara gamu

In [78]:
import pickle
with open('PricePredictor.pickle', 'wb') as file:
    pickle.dump(best_model, file)

In [79]:
x.head(2)

,year,km_driven,seats,max_power (in bph),Mileage,Engine (CC),name_Chevrolet,name_Ford,name_Honda,name_Hyundai,...,seller_type_Dealer,seller_type_Individual,seller_type_Trustmark Dealer,transmission_Automatic,transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,2014,145500,5,74.0,23.4,1248,False,False,False,False,...,False,True,False,False,True,True,False,False,False,False
1,2010,127000,5,90.0,23.0,1396,False,False,False,True,...,False,True,False,False,True,True,False,False,False,False

In [80]:
x_train.columns

Index(['year', 'km_driven', 'seats', 'max_power (in bph)', 'Mileage',
       'Engine (CC)', 'name_Chevrolet', 'name_Ford', 'name_Honda',
       'name_Hyundai', 'name_Mahindra', 'name_Maruti', 'name_Renault',
       'name_Tata', 'name_Toyota', 'name_Volkswagen', 'fuel_CNG',
       'fuel_Diesel', 'fuel_LPG', 'fuel_Petrol', 'seller_type_Dealer',
       'seller_type_Individual', 'seller_type_Trustmark Dealer',
       'transmission_Automatic', 'transmission_Manual', 'owner_First Owner',
       'owner_Fourth & Above Owner', 'owner_Second Owner',
       'owner_Test Drive Car', 'owner_Third Owner'],
      dtype='object')

In [86]:
best_model.predict([[2024,25,5,100,17.7,660,0,0,0,0,0,0,0,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0,0,0]])

C:\Users\USER\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([934100.])